@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
}

/* header */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 112px;
}

.header_logo h3 {
    color: #426B1F;
    font-family: newsreader;
    font-size: 32px;
    font-weight: 500;
    margin-left: 160px;
}

.header_menu {
    display: flex;
    margin-left: 800px;
    gap: 45px;
}

.header_menu div a {
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}


.header_btn_text {
    color: white;
    background-color: #426B1F;
    width: 126px;
    height: 48px;
    border: none;
    border-radius: 8px;
    margin-right: 100px;
}

/* farm-shop */

.farm_shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.farm_shop_hd {
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

.farm_shop_hd h4 {
    font-family: newsreader;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

.farm_shop button {
    width: 227px;
    height: 64px;
    color: white;
    background-color: #426B1F;
    border: none;
    border-radius: 8px;
}

/* farm-img */

.farm_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;

}

.farm_img_left img {
    width: 504px;
    height: 693px;
}

.farm_img_right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.farm_img_right img {
    width: 780px;
    height: 480px;
}

.farm_img_right p {
    font-family: inter;
    font-size: 14px;
    font-weight: 500;
}

.farm_text {
    display: flex;
    margin-top: 150px;
    margin-left: 160px;
    gap: 80px;
}

.farm_text_left p {
    font-family: inter;
    font-size: 14px;
    font-weight: 600;
}

.farm_text_right p {
    font-family: inter;
    font-size: 20px;
    font-weight: 400;

}